<div class="row">
	<div class="row">
        <div class="input-field col s6">
          <input ng-model="newQuestion.titulo" id="first_name" type="text" class="validate">
          <label for="first_name">Nombre de Formulario</label>
        </div>
    </div>
    <div class="row" ng-repeat="que in questions">
        <div class="input-field col s7">
          <input ng-model="que.pregunta" id="first_name" type="text" class="validate">
          <label for="first_name">Nueva Pregunta</label>
        </div>
        <div class="col s3" >
        	<div class="switch text-center">
            <span>Multiple Choise</span>
            <label>
              Off
              <input type="checkbox">
              <span class="lever"></span>
              On
            </label>
          </div>
        </div>
    </div>

    <button class="btn pull-right" ng-click="newQue()" >Cargar</button>
</div>